# Django
SECRET_KEY=
DEBUG=

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# google login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# EMAIL 設定
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL="BuyBye <buy-bye@buybye.com>"
CUSTOMER_SERVICE_EMAIL="support@buybye.com"